.content__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    border: solid red 5px;
}

.play__area {
    display: flex;
    background: url("../img/Creep-backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 528px;
    padding: 90px 50px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    flex-direction: column;
}

/* .click__obj:active+.click__animation {
    animation: clickAnimation .2s forwards;
} */

.click__obj:active {
    scale: 95%;
}

.current__gold__wrapper {
    align-self: flex-start;
    padding: 2% 0 0 0;
}

.current__gold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 28px;
}

.currentCreepHP {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
}

.click__animation {
    position: absolute;
    left: 50%;
    opacity: 0;
    /* animation: clickAnimation .2s forwards; */
}



.click__animation_play {
    animation: clickAnimation .2s forwards;
}

@keyframes clickAnimation {
    0% {
        scale: 20%;
        opacity: 0;
        transform: translateY(-0%);
    }

    50% {
        scale: 20%;
        opacity: 0.8;
        transform: translateY(-0%);
    }

    75% {
        scale: 20%;
        opacity: 0.8;
        transform: translateY(-30%);
    }

    100% {
        scale: 20%;
        opacity: 0;
        transform: translateY(-100%);
    }
}