.content__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    border: solid red 5px;
}

.play__area {
    display: flex;
    background: url("/img/Creep-backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 528px;
    padding: 90px 50px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    flex-direction: column;
    border: solid lime 5px;
}

.creep__image {
    height: 186px;
    width: 200xp;
}

.click__obj {
    position: absolute;
}

/* .click__obj:active+.click__animation {
    animation: clickAnimation .2s forwards;
} */

.click__obj:active {
    scale: 95%;
}

.info__wrapper {
    align-self: flex-start;
    padding: 2% 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

.current__gold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 28px;
}

.currentCreepHP {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
}

.click__animation {
    position: absolute;
    left: 50%;
    opacity: 0;
    /* animation: clickAnimation .2s forwards; */
}

.load__next__creep {
    padding: 15px;
    height: 500%;
    width: 30%;
    margin-top: 5%;
}


.click__animation_play {
    animation: clickAnimation .2s forwards;
}

@keyframes clickAnimation {
    0% {
        scale: 20%;
        opacity: 0;
        transform: translateY(-0%);
    }

    50% {
        scale: 20%;
        opacity: 0.8;
        transform: translateY(-0%);
    }

    75% {
        scale: 20%;
        opacity: 0.8;
        transform: translateY(-30%);
    }

    100% {
        scale: 20%;
        opacity: 0;
        transform: translateY(-100%);
    }
}

.shop__area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
}

.shop__title {
    font-size: 18px;
    padding-top: 1%;
}

.weapon__shop {
    flex: 50%;
    text-align: center;
    padding: 30%;
}

.item__shop {
    flex: 50%;
    text-align: center;
    padding: 3%;
}

.weapon__1 {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3%;
}

.item__1 {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3%;
}